body {background:url(../img/foto-inicial.jpeg) ;
    background-repeat: no-repeat;
   
   
    
}
.main-cadastro{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
    

}
.container h2 {
    font-size: 28px;
    color: antiquewhite;
}

.container{
    width: 300px;
    height: 300px;
    background: rgba(95, 93, 93, 0.399); 
    border-radius: 8px;
    
}

.cadastro {
    padding: 15px 0 15px 0;
text-align: center;

}
.botao-cadastar{
   
}