body{
 background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
    
    
}

.containerMeuCadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}





h1 {
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    font-family: 'Bebas Neue', cursive;
    font-size:3rem;
    text-align: center;
    color:rgb(206, 213, 223);
    padding: 1rem;
}



   

.form-group {
  margin-bottom:8px;
  display: fex;
align-items: center;
font-size:1.3rem;
  
 
 
}

label {

     color:rgb(195, 201, 209);
     margin: 0.5rem;
}


h2{
  text-align: left;
    font-size: 2rem;
    color: rgb(137, 209, 22);
    margin-bottom: 0.5rem;
}


button {
   font-size: 1rem;
    background-color: rgb(81, 105, 41);
    color: white;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    margin: 0.8rem;
    max-width:8rem;
    border-radius:9px;
}
input{
  max-width: 8rem;
}

.calcular-despesas {
    display: flex;
    justify-content: center;
}

.metas {
  display: block;
  text-align: center;
  align-items: center;
}